.block {
  .block-slogan {
    z-index: 2;
    text-transform: lowercase;

    &::after {
      content: "";
      display: block;
      height: 50px;
      position: absolute;
      width: calc(110% + 15px);
      background-color: #48EAAB;
      top: 36px;
      left: -15px;
      z-index: -1;
    }
  }
  &#block1 {
    .block-content {
      padding-top: 11rem;
    }
    .block-slogan {
      top: 0px;
      white-space: nowrap;
      &::after {
        content: "";
        width: calc(120% + 15px);
        top: 69px;
        left: 0px;
      }
    }
  }
  &#block2 {
    .block-content {
    @include make-col(8);
    }
    .block-subtitle {
      font-size: 50px;
    }
  }
  &#block3 {
    .block-slogan {
      position: absolute;
      top: -92px;
      right: 45px;
      .line2 {
        display: inline;
      }
    &::after {
      content: "";
      width: calc(130%);
      top: 64px;
      left: -158px;
    }
  }
  .block-content {
    padding-bottom: 23rem;
  }
}
  &#block4 {
    .block-slogan {
      &::after {
        content: "";
        width: calc(83%);
        top: 130px;
        left: 15px;
      }
    }
  }
  &#block5 {
    .block-content {
      padding-top: 0rem;
    }
    .block-textonly {
      &:nth-child(2n) {
        padding-left: 4rem;
      }
      &:nth-child(2n+1) {
        padding-right: 4rem;
      }
    }
  }
  &#block6 {
    .block-content {
      padding-top: 3rem;
    }
    .block-textonly {
      &:nth-child(2n) {
        padding-left: 5rem;
      }
      &:nth-child(2n+1) {
        padding-right: 5rem;
      }
    }
    .block-slogan {
      margin-bottom: 1.5rem;
      &::after {
        content: "";
        width: calc(60%);
        top: 130px;
        left: 15px;
      }
    }
  }
}
