#hero {
  @include make-row();
  .hero-header {
    @include make-container;
  }
  .hero-bottom {
    @include make-container;
  }
  .hero-title {
    @include make-col(9);
    @include f2-xl;
    margin: 0 auto;
  }
  .hero-text {
    @include make-col(9);
    margin: 0 auto;
    padding-right: 13rem;
  }
}