
.block-group {
  @include make-row();
}

.block {
  .block-slogan {
    @include f1-lg;
  }
  .block-text, .block-textonly {
    @include f6-lg();
  }
  &#block1 {
    .block-image {
    @include make-col(6);
    }
    .block-content {
    @include make-col(6);
    padding-top: 11rem;
    padding-bottom: 5rem;
    }
    .block-slogan {
      position: absolute;
      top: 0px;
      white-space: nowrap;
      &::after {
        content: "";
        width: calc(110% + 15px);
        top: 72px;
        left: -15px;
      }
    }
  }
  &#block2 {
    .block-content {
    @include make-col(8);
    }
    .block-subtitle {
      font-size: 50px;
    }
  }
  &#block3 {
    .block-content {
      @include make-col(6);
      padding-bottom: 4rem;
    }
    .block-image {
      @include make-col(6);
      overflow: hidden;

      & > img {
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: auto;
      }
    }
  }

  &#block4 {
    .block-content {
      @include make-col(5);
      padding-top: 4rem;
      padding-bottom: 8rem;
    }
    .block-image {
      @include make-col(7);
      overflow: hidden;

      & > img {
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: auto;
      }
    }
  }
  &#block5 {
    .block-textonly {
      padding-top: 0rem;
      margin-bottom: 1.5rem;
    }
  }
}
