.contact {
  .contact-informations {
  @include make-col(6)
  }
  .contact-form {
  @include make-col(6);
    form {
      max-width: 650px;
      margin: 0 auto;
    }
  }
  .contact-meetus {
    @include make-col(6);
  }
  .contact-titre {
    @include f3-lg ();
    color: white;
  }
}