#newsletter {
  padding-left: 4rem;
  padding-right: 4rem;
}

.footer {
  padding-bottom: 1rem;
  .footer-left {
    @include make-col(6);
  }
  .footer-right {
    @include make-col(6);
    margin-top: 0rem;
  }
  .footer-titre {
    @include f3-lg ();
  }
}
