.footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  .footer-community {
    @include make-col(6);
  }
  .footer-social {
    @include make-col(6);
    margin-top: 0rem;
  }
  .footer-titre {
    @include f3-lg ();
  }
}
