#hero {
  @include make-row();
  .hero-header {
    @include make-container;
  }
  .hero-bottom {
    @include make-container;
  }
  .hero-title {
    @include make-col(9);
    @include f3-lg;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .hero-text {
    @include make-col(9);
    margin: 0 auto;
    padding-top: 3rem;
  }
}
