#hero {
  .hero-header {
    @include make-col(11);
    margin: 0 auto;
  }
  .hero-bottom {
    @include make-col(7);
    padding-top: 3rem;
    margin: 0 auto;
  }
  .hero-title {
    @include f2-lg;
    margin-bottom: 32px;
  }
}
