#hero {
  @include make-row();
  padding-bottom: 5rem;
  .hero-header {
    @include make-container;
  }
  .hero-bottom {
    @include make-container;
  }
  .hero-title {
    @include make-col(12);
    @include f3-lg;
    margin: 0 auto;
  }
  .hero-text {
    @include make-col(12);
    margin: 0 auto;
    padding-top: 2rem;
  }
}
