<section id="block1" class="block">
  <div class="block-group">
    <div class="block-image">
      <img src="{{ "/assets/img/photos/powa-diffuser-bw.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="block-content">
      <h2 class="block-slogan">
        <span class="line1">notre raison</span>
        <span class="line2">d'être</span>
      </h2>
      <div class="block-text">
        <p>Les changements du monde du travail s'accélèrent et dépassent les capacités d’adaptation des individus comme des organisations : obsolescence des compétences, précarisation de l’emploi, évolution des aspirations, carrières morcelées.</p>
        <p>Nous sommes toute·s concerné·e·s par ces évolutions, mais ce sont les jeunes générations qui cumulent aujourd’hui le plus les difficultés.</p>
        <p> Beaucoup de jeunes se retrouvent dépassés, n’ayant pas accès aux ressources nécessaires pour se construire et trouver une place dans l’incertitude grandissante. Les inégalités sociales et éducatives se creusent.</p>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="block1a" class="block">
  <div class="block-group">
    <div class="block-image">
      <img src="{{ "/assets/img/photos/powa-semobiliser-bw.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="block-content">
      <h3 class="block-subtitle">mobilisons-nous</h3>
      <div class="block-text">
        <p>Equipes éducatives, actrices et acteurs de l’orientation, de l’insertion, du travail social, du recrutement et des RH, du management, de la formation ; mais aussi parents, associations, voire médias et artistes. Nous jouons un rôle clé dans l’orientation et l’insertion des jeunes.</p>
        <p>Nous sommes convaincus, qu’ensemble, nous avons le pouvoir d’inverser la tendance et de permettre à un maximum de jeunes d’être acteurs de leur parcours.</p>
        <p>Pour cela, nous devons créer une culture de l’orientation continue et faire évoluer nos pratiques. En plus de les aider à trouver des solutions immédiates, il devient essentiel développer leur pouvoir d’action, leur autonomie, et leur capacité à naviguer dans un monde incertain pour garantir une insertion sociale et professionnelle durable.</p>
      </div>
    </div>
  </div>
</section>

<section id="block1a" class="block block-color">
  <div class="block-group">
    <div class="block-content block-content1">
      <div class="block-header">
        <h2 class="block-slogan">
          <span class="line1">Le collectif</span>
        </h2>
        <p class="block-introduction">POWA est un collectif d’une vingtaine de personnes spécialisées dans l’innovation pédagogique, l’analyse et l’accompagnement des nouveaux rapports au travail et le développement de collectifs apprenants. Nos collaborations et nos méthodes pédagogiques se construisent autour de 5 valeurs&nbsp;:</p>
      </div>
    </div>
  </div>
  <div class="block-group">
    <div class="block-image">
      <img class="grayscale" src="{{ "/assets/img/photos/powa-coinnover-bw.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="block-content">
      <div class="block-valeurs">
        {% for collectif-valeur in site.data.block.collectif-valeur %}
        <div class="block-textonly">
          <span class="collectif-valeur">{{ collectif-valeur.valeur }}</span> 
          <p>{{ collectif-valeur.content }}</p>
        </div>
        {% endfor %} 
      </div> 
    </div>
  </div>
</section>

<!-- <section id="block1a" class="block">
  <div class="block-group">
    <div class="block-image">
      <img src="{{ "/assets/img/photos/powa-collectif-bw.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="block-content">
      <h3 class="block-subtitle">mobilisons-nous</h3>
      <div class="block-text">
        <p>Equipes éducatives, actrices et acteurs de l’orientation, de l’insertion, du travail social, du recrutement et des RH, du management, de la formation&nbsp;; mais aussi parents, associations, voire médias et artistes. Nous jouons un rôle clé dans l’orientation et l’insertion des jeunes.</p>
        <p>Nous sommes convaincus, qu’ensemble, nous avons le pouvoir d’inverser la tendance et de permettre à un maximum de jeunes d’être acteurs de leur parcours.</p>
        <p>Pour cela, nous devons créer une culture de l’orientation continue et faire évoluer nos pratiques. En plus de les aider à trouver des solutions immédiates, il devient essentiel développer leur pouvoir d’action, leur autonomie, et leur capacité à naviguer dans un monde incertain pour garantir une insertion sociale et professionnelle durable.</p>
      </div>
    </div>
  </div>
</section> -->

<!-- <section id="block2" class="block">
  <div class="block-group">
    <div class="block-content">
      <h3 class="block-subtitle">mobilisons-nous</h3>
      <div class="block-text">
        <p>Equipes éducatives, actrices et acteurs de l’orientation, de l’insertion, du travail social, du recrutement et des RH, du management, de la formation ; mais aussi parents, associations, voire médias et artistes. Nous jouons un rôle clé dans l’orientation et l’insertion des jeunes.</p>
        <p>Nous sommes convaincus, qu’ensemble, nous avons le pouvoir d’inverser la tendance et de permettre à un maximum de jeunes d’être acteurs de leur parcours.</p>
        <p>Pour cela, nous devons créer une culture de l’orientation continue et faire évoluer nos pratiques. En plus de les aider à trouver des solutions immédiates, il devient essentiel développer leur pouvoir d’action, leur autonomie, et leur capacité à naviguer dans un monde incertain pour garantir une insertion sociale et professionnelle durable.</p>
      </div>
    </div>
  </div>
</section> -->

<!-- <section id="block3" class="block">
  <div class="block-group">
      <div class="block-image">
        <img src="{{ "/assets/img/photos/powa-coinnover-bw.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="block-content">
        <h2 class="block-slogan">
          <span class="line1">co-</span><span class="line2">innover</span>
        </h2>
        <div class="block-text">
          <p>Co-innover avec tous ceux et celles qui souhaitent améliorer les accompagnements proposés aux jeunes dans leurs problématiques d’orientation et d’insertion.</p>
        </div>
      </div>
    </div>
</section>

<section id="block4" class="block">
    <div class="block-group">
        <div class="block-image">
            <img class="grayscale" src="{{ "/assets/img/photos/powa-diffuser-bw.jpg" | prepend: site.baseurl }}" />
        </div>
        <div class="block-content">
          <h2 class="block-slogan">Diffuser</h2>
          <div class="block-text">
            <p>Diffuser le plus largement possible le résultat de ces collaborations (outils, méthodes et ressources pédagogiques) pour en garantir l’accès à un maximum de jeunes, en priorité à ceux et celles qui ne peuvent pas y accéder par eux-mêmes.</p>
          </div>
        </div>
      </div>
  </section>  -->

<!-- <section id="block5" class="block block-color">
  <div class="block-group">
    <div class="block-image">
      <img class="grayscale" src="{{ "/assets/img/photos/powa-collectif.jpg" | prepend: site.baseurl}}" />
    </div>
    <div class="block-content">
      <div class="block-header">
        <h2 class="block-slogan">
          <span class="line1">Le collectif</span>
        </h2>
        <div class="block-text">
          <p class="block-introduction">POWA est un collectif d’une vingtaine de personnes spécialisées dans l’innovation pédagogique, l’analyse et l’accompagnement des nouveaux rapports au travail et le développement de collectifs apprenants. Nos collaborations et nos méthodes pédagogiques se construisent autour de 5 valeurs :</p>
        </div>
      </div>
    </div>
    </div>
    <div class="block-group">
      {% for collectif-valeur in site.data.block.collectif-valeur %}
      <div class="block-textonly">
        <span class="collectif-valeur">{{ collectif-valeur.valeur }}</span> 
        <p>{{ collectif-valeur.content }}</p>
      </div>
      {% endfor %} 
    </div>     
  </section> -->

<section id="block6" class="block">
  <div class="block-group">
    <div class="block-content">
      <div class="block-header">
        <h2 class="block-slogan">Agir ensemble</h2>
        <p class="block-introduction">POWA co-innove avec toutes les personnes et organisations qui souhaitent faire évoluer les pédagogies de l’orientation et de l’accompagnement vers l’emploi. Les outils, contenus et savoirs-faire issus des ces collaborations sont ensuite diffusés le plus largement possible à la communauté des accompagnateurs et accompagnatrices.</p>
        <p class="block-introduction">3 modes de collaborations se détachent : combinés, personnalisés et adaptés aux besoins de chaque partenaire.</p>
      </div>
    </div>
  </div>
  <div class="block-group">
    <div class="block-textonly">
        <h3 class="block-contenttitle"><span>Outiller</span> les accom&shy;pa&shy;gna&shy;teurs et accom&shy;pa&shy;gna&shy;trices</h3>
        <p class="block-text">Les métiers de l’accompagnement évoluent vers plus de collectif et une plus grande place faite à l’autonomisation des accompagné.e.s. POWA compile et diffuse les bonnes pratiques, forme et met à disposition ses boîtes à outils.</p>
        <p class="block-hashtags">#formation #échangesdepratiques #ressourcespédagogiques</p>
    </div>
    <div class="block-textonly">
      <h3 class="block-contenttitle"><span>Ré-adapter</span> l’offre d’accom&shy;pa&shy;gne&shy;ment aux besoins des jeunes</h3>
      <p class="block-text">Les rapports des jeunes au travail sont multiples et évolutifs. La compréhension et les interactions deviennent parfois difficiles. POWA facilite l’accès à la parole des jeunes et aide capter les besoins pour adapter les accompagnements in situ.</p>
      <p class="block-hashtags">#sensibilisation #recherche-action #design</p>
    </div>
    <div class="block-textonly">
      <h3 class="block-contenttitle"><span>Créer</span> des parcours de réussite multi-acteurs</h3>
      <p class="block-text">POWA accompagne la création ou la restructuration de parcours d'insertion cohérents au sein de filières métiers ou de territoire grâce à l'intelligence collective et au montage de communautés apprenantes.</p>
      <p class="block-hashtags">#co-construction #co-innovation #conduiteduchangement</p>
    </div>
    <div class="block-textonly">
      <div class="block-button">
        <h2 class="title-button">découvrez nos outils pédagogiques pour animer vous-même un atelier powa</h2>
        <p>nous diffusons en open-source nos kits&nbsp;: testez le premier kit d'atelier Prendre de la hauteur</p>
        <a class="btn btnpowa-color btn-primary" role="button" href="https://kit-opensource.collectifpowa.org/" target="_blank">je télécharge le kit</a>
      </div>
    </div>
  </div>
</section>

<section id="block7" class="block">
  <div class="block-group">
    <div class="block-content">
      <h3 class="block-subtitle">Nous agissons ensemble</h3>
    </div>
  </div>
  <div class="block-group">
  {% for items in site.data.partenaires.items %}
    <div class="logo-item">
      <div class="company-logo">
          <img class="grayscale" src="{{ items.picture | prepend: "/assets/img/logo/" | prepend: site.baseurl | prepend: site.url }}" alt="{{ items.name }}">
      </div>	          
    </div>
  {% endfor %}
  </div>
</section>
