<section id="block1" class="block">
  <div class="block1-group">
    <div class="block-image">
      <img src="https://images.unsplash.com/photo-1414490929659-9a12b7e31907?img-holder img-responsive" style="width: auto; height: 100%;"">
    </div>
    <div class="block-content">
      <h2 class="block-slogan">repenser</h2>
      <div class="block-text">
        <p>Le monde du travail change. Sa transformation dépasse aujourd’hui la capacité d’adaptation des personnes comme des organisations : obsolescence des compétences, précarisation de l’emploi, évolution des aspirations, carrières morcelées.</p>
        <p>Ce sont les jeunes générations qui cumulent aujourd’hui le plus les difficultés face à ces évolutions. Nombre de ces jeunes se retrouvent dépassés, n’ont pas accès aux ressources nécessaires pour se construire et trouver une place dans cette complexité. </p>
        <p>Face à ce constat, nous pensons qu’il est essentiel et urgent de repenser en profondeur la manière dont nous accompagnons l’arrivée des jeunes dans le monde professionnel.</p>
      </div>
    </div>
  </div>
</section>


<section id="block2" class="block">
  <div class="block2-group">
      <div class="block-image">
        <img src="https://images.unsplash.com/photo-1414490929659-9a12b7e31907?img-holder img-responsive" style="width: auto; height: 100%;"">
      </div>
      <div class="block-content">
        <h2 class="block-slogan">se mobiliser</h2>
        <div class="block-text">
          <p>Le monde du travail change. Sa transformation dépasse aujourd’hui la capacité d’adaptation des personnes comme des organisations : obsolescence des compétences, précarisation de l’emploi, évolution des aspirations, carrières morcelées.</p>
          <p>Ce sont les jeunes générations qui cumulent aujourd’hui le plus les difficultés face à ces évolutions. Nombre de ces jeunes se retrouvent dépassés, n’ont pas accès aux ressources nécessaires pour se construire et trouver une place dans cette complexité. </p>
          <p>Face à ce constat, nous pensons qu’il est essentiel et urgent de repenser en profondeur la manière dont nous accompagnons l’arrivée des jeunes dans le monde professionnel.</p>
        </div>
      </div>
    </div>
  </div>
</section>


  <section id="block3" class="block-color">
    <div class="block3-group">
      <div class="block-image">
        <img src="https://images.unsplash.com/photo-1414490929659-9a12b7e31907?img-holder img-responsive" style="width: auto; height: 100%;"">
      </div>
      <div class="block-content">
        <h2 class="block-slogan">le collectif</h2>
        <div class="block-text">
          <p>Le monde du travail change. Sa transformation dépasse aujourd’hui la capacité d’adaptation des personnes comme des organisations : obsolescence des compétences, précarisation de l’emploi, évolution des aspirations, carrières morcelées.</p>
          <p>Ce sont les jeunes générations qui cumulent aujourd’hui le plus les difficultés face à ces évolutions. Nombre de ces jeunes se retrouvent dépassés, n’ont pas accès aux ressources nécessaires pour se construire et trouver une place dans cette complexité. </p>
          <p>Face à ce constat, nous pensons qu’il est essentiel et urgent de repenser en profondeur la manière dont nous accompagnons l’arrivée des jeunes dans le monde professionnel.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="block4" class="block">
  <div class="block4-group">
      <div class="block-image">
        <img src="https://images.unsplash.com/photo-1414490929659-9a12b7e31907?img-holder img-responsive" style="width: auto; height: 100%;"">
      </div>
      <div class="block-content">
        <h2 class="block-slogan">se mobiliser</h2>
        <div class="block-text">
          <p>Le monde du travail change. Sa transformation dépasse aujourd’hui la capacité d’adaptation des personnes comme des organisations : obsolescence des compétences, précarisation de l’emploi, évolution des aspirations, carrières morcelées.</p>
          <p>Ce sont les jeunes générations qui cumulent aujourd’hui le plus les difficultés face à ces évolutions. Nombre de ces jeunes se retrouvent dépassés, n’ont pas accès aux ressources nécessaires pour se construire et trouver une place dans cette complexité. </p>
          <p>Face à ce constat, nous pensons qu’il est essentiel et urgent de repenser en profondeur la manière dont nous accompagnons l’arrivée des jeunes dans le monde professionnel.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="block5" class="block">
  <div class="block5-group">
    <div class="block-image">
      <img src="https://images.unsplash.com/photo-1414490929659-9a12b7e31907?img-holder img-responsive" style="width: auto; height: 100%;"">
    </div>
    <div class="block-content">
      <h2 class="block-slogan">agir ensemble</h2>
      <div class="block-text">
        <p>Le monde du travail change. Sa transformation dépasse aujourd’hui la capacité d’adaptation des personnes comme des organisations : obsolescence des compétences, précarisation de l’emploi, évolution des aspirations, carrières morcelées.</p>
        <p>Ce sont les jeunes générations qui cumulent aujourd’hui le plus les difficultés face à ces évolutions. Nombre de ces jeunes se retrouvent dépassés, n’ont pas accès aux ressources nécessaires pour se construire et trouver une place dans cette complexité. </p>
        <p>Face à ce constat, nous pensons qu’il est essentiel et urgent de repenser en profondeur la manière dont nous accompagnons l’arrivée des jeunes dans le monde professionnel.</p>
      </div>
    </div>
    </div>
  </div>
</section>