<section class="contact">
  <div class="contact-informations">
    <h2 class="contact-titre">{{ site.data.footer.cta }}</h2>
    <p class="contact-text">{{ site.data.footer.cta-text }}</p>
  </div>
  <div class="contact-form">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="votre email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">message</label>
          <textarea class="form-control" id="exampleMessage" rows="8" placeholder="votre message"></textarea>
        </div>
        <div class="form-group contact-send">
          <button type="submit" class="btn">envoyer le message</button>
        </div>
        </form>
  </div>
</section>
