<footer class="footer">
  <div class="block-group">
    <div class="footer-left">
      <div class="footer-hashtag">
        <a href="#block1">se mobiliser</a>
        <a href="#block3">le collectif</a>
        <a href="#block5">nos méthodes</a>
        <a href="#block6">nos actions</a>

<!--         <span>{{ site.data.footer.hashtag1 }}</span>
        <span>{{ site.data.footer.hashtag2 }}</span> -->
      </div>
      <h2 class="footer-title">rejoignez la communauté</h2>
      <ul class="social-buttons-list">
        {% for social-links in site.data.footer.social-links %}
        <li class="social-buttons-item">
            <a href="{{ social-links.href }}" target="{{ social-links.target }}">
              <i class="fab fa-{{ social-links.icon }}"></i>
            </a>
        </li>
        {% endfor %}
      </ul>
      <div class="footer-hashtag">
        <span>#collectifpowa</span>
        <span>#powaspirit</span>
      </div>
    </div>
    <div class="footer-right">
    </div>
  <div class="footer-credits">
      <a href="{{ social-links.href }}" target="{{ social-links.target }}">mentions légales</a>
      <a href="{{ social-links.href }}" target="{{ social-links.target }}">charte de confidentialité</a>
  </div>
</div>
</footer>
