<!-- Hero -->
<header id="hero">
  <div class="hero-header">
    <h1 class="hero-title">
      <span class="line1">(re)donner aux jeunes</span>
      <span class="line3">le pouvoir d'agir</span>
      <span class="line4">sur leur parcours professionnel</span>
      </h1>
  </div>
  <div class="hero-bottom">
    <div class="hero-text">
      <p>#Ce qui nous rassemble</p>
      <p>Permettre à un maximum de jeunes, et en priorité celles et ceux qui en ont le plus besoin, de trouver leur place dans un monde professionnel de plus en plus complexe et incertain.</p>
      <p>#Notre travail</p>
      <p>Le collectif POWA a pour objectif d’aider celles et ceux qui accompagnent chaque année des millions de jeunes à s’orienter pour faire des transitions professionnelles des espaces d’éducation propices au développement du pouvoir d’agir et de l’autonomie des jeunes.
      </p>
    </div>
  </div>
</header>