<!-- Hero -->
<header id="hero">
  <div class="hero-header">
    <h1 class="hero-title">
      <span class="line1">créer</span>
      <span class="line2">une culture</span>
      <span class="line3">de l'orientation</span>
      </h1>
  </div>
  <div class="hero-bottom">
    <div class="hero-text">
      <p>Le collectif POWA transfère des méthodes et des ressources pédagogiques actuelles à celles et ceux qui accompagnent les jeunes dans leurs problématiques d’orientation et d’insertion professionnelle.</p>
      <p>L’impact visé est de permettre à 
        davantage de jeunes, et en priorité ceux 
        qui en ont le plus besoin, de bénéficier 
        d’un accompagnement adapté à un 
        monde professionnel de plus en plus 
        incertain et complexe.</p>
    </div>
  </div>
</header>