<!-- Hero -->
<header id="hero">
  <div class="hero-header">
    <h1 class="hero-title">
      <span class="line1">(re)donner aux jeunes</span>
      <span class="line3">le pouvoir d'agir</span>
      <span class="line4">sur leur parcours professionnel</span>
      </h1>
  </div>
  <div class="hero-bottom">
    <div class="hero-text">
      <p>L’association POWA aide celles et ceux qui accompagnent les jeunes à s’orienter dans un monde de plus en plus complexe.
        </p>
    </div>
  </div>
</header>