<div class="navbar-container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- Logo -->
      <a class="navbar-brand" href="/">
        <img src="{{ site.url }}/assets/img/logo-powa-blanc.png" height="100">
      </a>
        <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="modal" data-target="#exampleModal" data-backdrop="false" aria-controls="navbarnav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarnav">
    <!-- Réseaux sociaux et Contact -->
      <div class="right-links navbar-nav ml-auto">
        <a class="navbar-brand" href="/">
          <img src="{{ site.url }}/assets/icons/facebook-icon.svg" height="15">
        </a>
        <a class="navbar-brand" href="/">
          <img src="{{ site.url }}/assets/icons/twitter-icon.svg" height="15">
        </a>
        <a class="navbar-brand" href="/">
          <img src="{{ site.url }}/assets/icons/linkedin-icon.svg" height="15">
        </a>
        <a class="navbar-brand" href="/">
          <span>contact</span>
        </a>
      </div> 
      </div>
    </nav>
  </div>
  
  <!-- Menu Mobile -->  
  <div class="modal fade modal-fullscreen-menu" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <nav class='list-group'>
              <!-- Réseaux sociaux et Contact -->
    <div class="right-links">
        <a class="navbar-brand" href="/">
          <img src="{{ site.url }}/assets/icons/facebook-icon.svg" height="15">
        </a>
        <a class="navbar-brand" href="/">
          <img src="{{ site.url }}/assets/icons/twitter-icon.svg" height="15">
        </a>
        <a class="navbar-brand" href="/">
          <img src="{{ site.url }}/assets/icons/linkedin-icon.svg" height="15">
        </a>
        <a class="navbar-brand" href="/">
          <span>contact</span>
        </a>
      </div> 
          </nav>
        </div>
      </div>
    </div>
  </div>
  