<nav class="navbar navbar-expand-md navbar-light">
  <!-- Logo -->
  <a class="navbar-brand" href="/">
      <img class="navbar-logo" src="{{ "/assets/img/logo-powa-blanc.png" | prepend: site.baseurl | prepend: site.url }}" >
  </a>
    <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#exampleModal" data-backdrop="false" aria-controls="navbarnav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="navbarnav">
<!-- Réseaux sociaux et Contact -->
    <div class="right-links menu-social navbar-nav ml-auto">
      <a href="{{ social-links.href }}" target="{{ social-links.target }}">
          <img src="{{ "/assets/icons/facebook-icon.svg" | prepend: site.baseurl}}" height="20">
      <a href="{{ social-links.href }}" target="{{ social-links.target }}">
          <img src="{{ "/assets/icons/twitter-icon.svg"  | prepend: site.baseurl }}" height="20">
      </a>
      <a href="{{ social-links.href }}" target="{{ social-links.target }}">
          <img src="{{ "/assets/icons/linkedin-icon.svg" | prepend: site.baseurl }}" height="20">
      </a>
      <a href="{{ social-links.href }}" target="{{ social-links.target }}">
          <span>contact</span>
      </a>
    </div> 
  </div>
</nav>
  
  <!-- Menu Mobile -->  
  <div class="modal fade modal-fullscreen-menu" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Réseaux sociaux et Contact -->
          <nav class='menu-links footer-social'>
          <ul class="menu-mobile_nav">
              {% for menu in site.data.menu.menu %}
              <li class="">
                  <a class="footer-social-links" 
                     href="{{ menu.href }}" 
                     target="{{ menu.target }}"
                     data-scroll-target="{{ menu.href }}"
                     data-scroll-modal="#exampleModal"
                  >{{ menu.title }}</a>
              </li>
              {% endfor %}
            </ul>
          <ul class="menu-mobile_social">
              {% for social-links in site.data.footer.social-links %}
              <li class="">
                  <a href="{{ social-links.href }}" target="{{ social-links.target }}">{{ social-links.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  
