<section id="newsletter" class="newsletter block">
  <div class="newsletter-banner">
    <h2 class="footer-title">soyons</h2>
    <p>Un nouveau kit, un évènement : on vous prévient.</p>
    <form class="newsletter-form">
      <div class="input-group">
        <input type="email" placeholder="votre email" class="form-control mr-2">
        <span class="input-group-btn">
          <button type="newsletter-form-submit" class="btn btnpowa-transparent">
            s'inscrire
          </button>
        </span>
      </div>
    </form>
  </div>
</section>
