footer {
  border-top: 1px solid white;
  color: white;
  background-color: #44F0AD;
  padding-top: 5rem;
  padding-bottom: 2rem;
  .footer-community {
    @include make-col-ready();
    @include make-col(12);
  }
  .footer-social {
    @include make-col-ready();
    @include make-col(12);
  }
  .footer-credits {
    @include make-col-ready();
    @include make-col(12);
  }
  .footer-titre {
    @include f1-xs;
  }  
  .footer-text {
    @include f3-xs;
  }
  a {
    @include mb3-xs;
  }
  .footer-hashtag span {
    display: block;
    @include f2-xs;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .footer-social {
    margin-top: 2rem;
  }
  ul {
    margin-left: 0;
    @include f1-xs;
  }
  .footer-bottom {
    margin-bottom: 2rem;
  }
  .footer-credits {
   a {
     text-decoration: underline;
   }

  }
}

.footer-social-links {
  @include f1-xs;
  color: white;
}

// MOBILE

.footer {
  @media (max-width: 767px) {
    .cta {
      font-size: 50px;
    }
  }
}