

#hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
  background-color: #44F0AD;
}
.hero-top {
  // Invocation des mixins du système de grille
  @include make-sm-column(12);
}

.hero-bottom {
  // Invocation des mixins du système de grille
  @include make-sm-column(12);
}

.hero-baseline {
  @include f1-xs;
  margin-bottom: 3.75rem;
}

.hero-text {
  @include f3-xs;
  margin-bottom: 3.75rem;
}


/* // MOBILE

#hero {
  @media (max-width: 767px) {
    .hero-baseline {
      font-size: 50px;
    }
  }
} */
