.navbar-container {
  background-color: #44F0AD;
}

.navbar {
  margin-bottom: 0;
  a {
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-logo {
  height: 50px;
}


.navbar-toggler {
  border: none;
}



