/* .page-content {
  padding-top: 3.75rem;
  margin-bottom: 3.75rem;
} */

.block, .block-color {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;                           

  .block-slogan {
    hyphens: auto;
  }
}

.block-color {
  background-color: #48EAAB;
  color: white;
  .block-slogan {
    &::after {
    content: none;
    }
  }
}

// BLOCK
.block {
  @include make-container;
  .block-textonly {
    @include make-col-ready();
    @include make-col(12); 
  }
  .block-slogan {
    @include f1-xs;
    position: absolute;
    top: -90px;
    z-index: 2;
    text-transform: lowercase;

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 19px;
      width: calc(110% + 15px);
      background-color: #48EAAB;
      top: 36px;
      left: -15px;
      z-index: -1;
    }
  }
}

.block-image {
  @include make-col-ready();
  @include make-col(12);
  width: auto;
  height: 345px;
  position: relative;
  overflow: hidden;
  padding: 0;

  & > img {
    opacity: 0.8;
    position: relative;
    width: auto;
    height: 100%;
    display: block;
    left: 50%;
    transform: translate(-50%,0);
  }

  &.image-vertical > img {
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
  }
}

.block-content {
  @include make-col-ready();
  @include make-col(12);
  padding-top: 40px;
  .block-description {
  @include f3-xs();
  }
}

// BEHAVIOUR OF EACH BLOCK: TEXT BAND & IMAGE
.block {
  &#block1 {
  .block-slogan {
    position: absolute;
    top: -90px;
    white-space: nowrap;
    &::after {
      content: "";
      width: calc(110% + 15px);
      top: 36px;
      left: -15px;
    }
  }
}

  &#block2 {
    overflow-x: hidden;
    padding-top: 2rem;
    .block-image {
      @include make-col(6);
      position: relative;
      //overflow: visible;

      /* & > img { 
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
      } */
    }
    .block-content {
      @include make-col(12);
      padding-top: 0px;
      margin: 0 auto;
    }
    .block-slogan {
      top: 20px;
      left: 0;
    }
  }



  &#block5 {
  .block-content {
    padding-top: 80px;
  }
  .block-slogan {
    top: 0px;
  }
}


  &#block6 {
  overflow: hidden;
  .block-content {
    padding-top: 140px;
  }
  .block-slogan {
    top: 0px;
    .line2 {
      display: block;
      position: absolute;
      left: 70px;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: calc(300%);
      top: 93px;
      left: 60px;
    }
  }
}
  &#block7 {
    padding-top: 0px;
    .block-content {
      padding-top: 0px;
    }
  }
}

.block-subtitle {
  @include f2-xs();
  margin-bottom: 0.5rem;
  hyphens: auto;
  //color: #619883;
}

.block-text, .block-textonly {
  @include f5-xs;
  p:last-child {
    margin-bottom: 0;
  }
}

.block-textonly {
  padding-top: 1rem;
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0rem;
  }
}


.collectif-valeur {
  @include f2-xs;
}

.block-hashtags {
  @include f4-xs;
  color: #c0c2c1;
}

.collectif-introduction {
  @include f4regular-xs; 
}

#block7 {
  .logo-item {
  @include make-col-ready();
  @include make-col(6);
  }
  img {
    max-width: 100%;
  }
}

.block-group {
  @include make-row();
}