.block, .block-color {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.block-color {
  background-color: #48EAAB;
}

.block {
  @include make-container;
}

.block-image {
  // Invocation des mixins du système de grille
  @include make-col-ready();
  @include make-col(12);
  width: auto;
  height: 345px;
  position: relative;
  overflow: hidden;
  padding: 0;

  & > img {
    opacity: 0.5;
    position: relative;
    width: auto;
    height: 100%;
    display: block;
    left: 50%;
    transform: translate(-50%,0);
  }

  &.image-vertical > img {
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
  }
}

.block-content {
  // Invocation des mixins du système de grille
  @include make-col-ready();
  @include make-col(12);
  padding-top: 60px;
}

.block-slogan {
  @include f1-xs;
  position: absolute;
  top: -90px;
  z-index: 2;
  text-transform: lowercase;

  &::after {
    content: "";
    display: block;
    height: 19px;
    position: absolute;
    width: calc(110% + 15px);
    background-color: aquamarine;
    top: 36px;
    left: -15px;
    z-index: -1;
  }
}

.block-text {
  @include f4-xs;
  p:last-child {
    margin-bottom: 0;
  }
}
