.block, .block-color {
  padding-top: 3.75rem;
  padding-bottom: 1.5rem;                           
}

.block-color {
  background-color: #48EAAB;
  color: white;
  .block-slogan {
    &::after {
    content: none;
    }
  }
}

.block {
  .block-slogan {
    @include f1-xs;
    position: absolute;
    top: -90px;
    z-index: 2;
    text-transform: lowercase;

    &::after {
      content: "";
      display: block;
      height: 19px;
      position: absolute;
      width: calc(110% + 15px);
      background-color: #48EAAB;
      top: 36px;
      left: -15px;
      z-index: -1;
    }
  }
}

.block-image {
  // Invocation des mixins du système de grille
  @include make-col-ready();
  @include make-col(12);
  width: auto;
  height: 345px;
  position: relative;
  overflow: hidden;
  padding: 0;

  & > img {
    opacity: 0.5;
    position: relative;
    width: auto;
    height: 100%;
    display: block;
    left: 50%;
    transform: translate(-50%,0);
  }

  &.image-vertical > img {
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
  }
}

.block-content {
  // Invocation des mixins du système de grille
  @include make-col-ready();
  @include make-col(12);
  padding-top: 40px;
}

// COMPORTEMENT DE CHAQUE BLOC: TEXT & IMAGE
.block {
  &#block1 {
  .block-slogan {
    position: absolute;
    top: -90px;
    z-index: 2;
    text-transform: lowercase;
    white-space: nowrap;
  
    &::after {
      content: "";
      width: calc(110% + 15px);
      top: 36px;
      left: -15px;
    }
  }
}

  &#block2 {
    overflow-x: hidden;

    .block-image {
      @include make-col(6);
      position: relative;
      //overflow: visible;

      /* & > img { 
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
      } */
    }
    .block-content {
      //@include make-col-offset(3);
      @include make-col(12);
      margin: 0 auto;
      padding-top: 0;
      padding-right: 0px;
    }
    .block-slogan {
      top: 20px;
      left: 0;
    }
  }







#block6 {
  overflow: hidden;

  .block-slogan {
    position: relative;
    z-index: 2;
    text-transform: lowercase;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: calc(110% + 15px);
      background-color: #48EAAB;
      top: 36px;
      left: -30px;
      z-index: -1;
    }

  }
}
}

.block-subtitle {
  @include f3-xs();
  //color: #619883;
}

.block-text, .block-textonly {
  @include f5-xs;
  p:last-child {
    margin-bottom: 0;
  }
}

.block-textonly {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.collectif-valeur {
  @include f2-xs;
}

.block-hashtags {
  @include f4-xs;
  font-weight: 700;
}

.collectif-introduction {
  @include f4-xs; 
}

#block7 {
  .logo-item {
  @include make-col-ready();
  @include make-col(4);
  }
  img {
    max-width: 100%;
  }
}

.block-group {
  @include make-row();
}