.contact {
  color: white;
  background-color: #44F0AD;
  padding-top: 5rem;
  padding-bottom: 3rem;
  .contact-informations {
    @include make-col-ready();
    @include make-col(12);
    @include no-padding;
  }
  .contact-titre {
    @include f1-xs; 
  }
  .contact-text {
    @include f4-xs; 
  }
  .contact-localisation {
    @include f3-xs; 
  }
}

.contact-form {
  @include make-col-ready();
  @include make-col(12);
  @include no-padding;
  label {
  @include f4-xs; 
  color: black;
  }
  .contact-send {
    text-align: center;
  }
  button {
  @include f4-xs;
  background-color: white;
  }
}