.contact {
  @include make-container;
  color: white;
  background-color: #44F0AD;
  padding-top: 3.75rem;
  padding-bottom: 3rem;
  .contact-informations {
    @include make-col-ready();
    @include make-col(12);
  }
  .contact-titre {
    @include f1-xs; 
  }
  .contact-text {
    @include f4regular-xs; 
  }
}

.contact-form {
  @include make-col-ready();
  @include make-col(12);
  label {
  @include f4-xs; 
  color: black;
  }
  .form-control {
    border: 2px solid #000000;
    border-radius: 3px;
  }
  .contact-send {
    text-align: center;
  }
  button {
  @include f4-xs;
  background-color: white;
  }
}