html {
	height: 100%;
}

body {
  font-size: 16px;
  height: 100%;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* .page-content {
	@include vertical-align();
	text-align: center;
} */

a {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    //color: #B49EE6;
    color: #51816E;
    text-decoration: none;
    transition: all 0.3s;
  }
  &:focus {
    //color: #B49EE6;
    color: #51816E;
    text-decoration: none;
    transition: all 0.3s;
  }
}



.btnpowa-transparent {
  @include f3-xs;
  color: white;
  background-color: #51816E;
  border-radius: 0;
  &:hover {
    color: #44F0AD;
    border: 0;
    background-color: #51816E;
    text-decoration: none;
    //transition: all 0.3s;
  }
  &:focus {
    color: white;
    border: 0;
    background-color: #51816E;
    text-decoration: none;
    //transition: all 0.3s;
  }
}


.btnpowa-color {
  @include f3-xs;
  text-align: left;
  width: 70%;
  color: white;
  background-color: #51816E;
  padding: 1rem;
  border-radius: 0;
  border: 0;
  white-space: normal;
  padding-right: 100px;
  line-height: 1.5;
  display: block;
  margin: 0 auto;
  &:hover {
    color: #44F0AD;
    background-color: #51816E;
    text-decoration: none;
    //transition: all 0.3s;
  }
  &:focus {
    color: #B49EE6;
    background-color: #51816E;
    text-decoration: none;
    //transition: all 0.3s;
  }
}

//Override Bootstrap blue line

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #ced4da !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

