html {
	height: 100%;
}

body {
  font-size: 16px;
  height: 100%;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* .page-content {
	@include vertical-align();
	text-align: center;
} */

a {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  &:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
}


.page-content {
  //padding-top: 3.75rem;
  margin-bottom: 1rem;
}

.btn-powa {
  text-align: left;
  width: 250px;
  color: white;
  background-color: #44F0AD;
  padding: 1rem;
  border-radius: 0;
  border: 0;
  white-space: normal;
  @include f2-xs;
  &:hover {
    color: inherit;
    background-color: #44F0AD;
    text-decoration: none;
    transition: all 0.3s;
  }
  &:focus {
    color: inherit;
    background-color: #44F0AD;
    text-decoration: none;
    transition: all 0.3s;
  }
}

//Override Bootstrap blue line

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #ced4da !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

