html {
	height: 100%;
}

body {
  font-size: 16px;
  overflow-x: hidden;
}

.block-group {
  @include make-row();
  max-width: 1600px;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* .page-content {
	@include vertical-align();
	text-align: center;
} */

a {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    //color: #7252bf;
    color: #8247FF;
    text-decoration: none;
    transition: all 0.3s;
  }
  &:focus {
    //color: #B49EE6;
    color: #7252bf;
    text-decoration: none;
    transition: all 0.3s;
  }
}

.btnpowa-transparent {
  @include f4-xs;
  font-weight: 700;
  color: white;
  background-color: $secondary-color;
  border-radius: 0;
  &:hover {
    color: #48EAAB;
    background-color: $secondary-color;
    text-decoration: none;
    //transition: all 0.3s;
  }
  &:focus {
    color: #48EAAB;
    background-color: $secondary-color;
    text-decoration: none;
    //transition: all 0.3s;
  }
}

.block-button {
  text-align: left;
  background-color: $secondary-color;
  color: white;
  padding: 1.5rem;
  line-height: 1.5;
  white-space: normal;
  width: 100%;
  margin: 0 auto;
}

.btnpowa-color {
  @include f5-xs;
  font-weight: 700;
  text-align: left;
  background-color: $primary-color;
  padding: 1rem;
  border-radius: 0;
  border: 0;
  white-space: normal;
  //padding-right: 100px;
  line-height: 1.5;
  margin: 0 auto;
  &:hover {
    color: $secondary-color;
    background-color: $primary-color;
    text-decoration: none;
    //transition: all 0.3s;
  }
  &:focus {
    color: $secondary-color;
    background-color: $primary-color;
    text-decoration: none;
    //transition: all 0.3s;
  }
}

//Social icons

.social-buttons-list {
  padding-top: 0.75rem;
  display: flex;

  .social-buttons-item {
    margin-right: 10px;
  }

  a {
    display: flex;
    font-size: 30px;
    width: 45px;
    height: 45px;
    color: #48EAAB;
    background-color: white;
    border-radius: 100%;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    justify-content: center;
    &:hover {
      color: white;
      background-color: #7252BF;
    }
  }
}
  .social-list, 
  .social-buttons-list {
    list-style: none;
    margin-left: 0px;
  }

  .social-list  {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    a {
    @include f1-xs;
    margin-left: 0;
    line-height: 1.1;
    }
  }




//Override Bootstrap blue line

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #ced4da !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

