#newsletter {
  .newsletter-banner {
    background-color: $secondary-color;
    color: white;
    padding: 2rem;
  }
}

footer {
  @include make-container;
  color: white;
  background-color: #48EAAB;
  padding-bottom: 2rem;
  .block-group {
    display: flex;
  }
  .footer-title {
    @include f2-xs; 
    margin: 0;
  }
  .footer-left {
    @include make-col-ready();
    @include make-col(12);
    order: 2;
  }
  .footer-right {
    @include make-col-ready();
    @include make-col(12);
    order: 1;
    overflow: hidden; // to show bugs
  }
  .footer-credits {
    @include make-col-ready();
    @include make-col(12);
    order: 3;
  }
  .footer-text {
    @include f4-xs;
  }
  /* a {
    @include mb3-xs;
  } */
  .footer-hashtag {
    @include f4-xs;
    padding: 0;
  }
  .footer-social {
    margin-top: 2rem;
    text-align: left;
  }
  .block-footer {
    padding-top: 2rem;
    border-top: 1px solid white;
  }

  .footer-credits {
   a {
     text-decoration: underline;
   }
  }

  .contact-email {
    @include f4-xs;
    color: black;
  }
}

.newsletter-form {
  max-width: 450px;
}
