footer {
  @include make-container;
  border-top: 1px solid white;
  color: white;
  background-color: #48EAAB;
  padding-top: 3rem;
  padding-bottom: 0.5rem;

  .footer-title {
    @include f2-xs; 
  }
  .footer-left {
    @include make-col-ready();
    @include make-col(12);
  }
  .footer-menu a {
    @include f3-xs;
    display: block;
  }
  .footer-right {
    @include make-col-ready();
    @include make-col(12);
    overflow: hidden; // to show bugs
  }
  .footer-credits {
    @include make-col-ready();
    @include make-col(12);
  }
  .footer-text {
    @include f4-xs;
  }
  /* a {
    @include mb3-xs;
  } */
  .footer-hashtag span {
    @include f4-xs;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .footer-social {
    margin-top: 2rem;
    text-align: left;
  }
  .footer-bottom {
    margin-bottom: 2rem;
  }

  .footer-credits {
   a {
     text-decoration: underline;
   }
  }

  .contact-email {
    @include f4-xs;
    color: black;
  }

  /* SOCIAL LINKS */
  .social-list, 
  .social-buttons-list {
    padding-top: 1rem;
    list-style: none;
    margin-left: 0px;
  }

  .social-list  {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    a {
    @include f1-xs;
    margin-left: 0;
    line-height: 1.1;
    }
  }

  .social-buttons-list {
    display: flex;

    .social-buttons-item {
      margin-right: 10px;
    }

    a {
      display: flex;
      font-size: 30px;
      width: 40px;
      height: 40px;
      color: #48EAAB;
      background-color: white;
      border-radius: 100%;
      overflow: hidden;
      align-items: center;
      justify-items: center;
      justify-content: center;
    }
  }
}

