footer {
  @include make-container;
  border-top: 1px solid white;
  color: white;
  background-color: #44F0AD;
  padding-top: 5rem;
  padding-bottom: 1rem;
  .footer-left {
    @include make-col-ready();
    @include make-col(12);
    @include no-padding;
  }
  .footer-right {
    @include make-col-ready();
    @include make-col(12);
    @include no-padding;
  }
  .footer-credits {
    @include make-col-ready();
    @include make-col(12);
    @include no-padding;
  }
  .footer-titre {
    @include f1-xs;
  }  
  .footer-text {
    @include f4-xs;
  }
  a {
    @include mb3-xs;
  }
  .footer-hashtag span {
    display: block;
    @include f3-xs;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .footer-social {
    margin-top: 2rem;
    text-align: left;
  }
  ul {
    list-style: none;
    margin-left: 0px;
  }
  .social-list a {
  margin-left: 0;
  @include f1-xs;
  }
  .footer-bottom {
    margin-bottom: 2rem;
  }
  .footer-credits {
   a {
     text-decoration: underline;
   }
  }
  .contact-email {
    @include f4-xs; 
  }
}

.footer-social-list {
  @include f1-xs;
  color: white;
  line-height: 1;
}