#hero {
  @include make-row();
  // Compense navbar height
  margin-top: 75.72px;
  padding: 3rem 0;
  color: white;
  background-color: #44F0AD;
  .hero-header {
    @include make-container;
    margin: 0 auto;
  }

  .hero-bottom {
    @include make-container;
    margin-top: 2rem;
    margin: 0 auto;
  }

  .hero-title {
    @include make-col-ready();
    @include make-col(12);
    @include f2-xs;
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 2rem;
    .line1, .line2, .line3 {
      display: inline;
    }
    .line4 {
      font-weight: 400;
    }
  }

  .hero-text {
    @include make-col-ready();
    @include make-col(12);
    @include f4regular-xs;
    margin-bottom: 2rem;
  }
  .hero-subtitle {
    @include f4regular-xs;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  .hero-subtitle:nth-child(2) {
      padding-top: 3rem;
    }
}
