#hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
  background-color: #44F0AD;
}
.hero-header {
  // Invocation des mixins du système de grille
  @include make-col-ready();
  @include make-col(12);
  margin-top: 30px;
  margin-bottom: 60px;
}

.hero-bottom {
  // Invocation des mixins du système de grille
  @include make-col-ready();
  @include make-col(12);
}

.hero-baseline {
  @include f1-xs;
}

.hero-text {
  @include f4-xs;
  margin-bottom: 3.75rem;
}
