#hero {
  padding: 2rem 0;
  color: white;
  background-color: #44F0AD;
  .hero-header {
    // Invocation des mixins du système de grille
    @include make-col-ready();
    @include make-col(12);
    @include no-padding;
  }

  .hero-bottom {
    // Invocation des mixins du système de grille
    @include make-col-ready();
    @include make-col(12);
    @include no-padding;
    margin-top: 2rem;
  }

  .hero-title {
    @include f1-xs;
    .line1, .line2, .line3, .line4 {
      display: block;
    }
  }

  .hero-text {
    @include f4-xs;
    margin-bottom: 2rem;
  }
}
