.block {
  padding-left: 2rem;
  padding-right: 2rem;
  .block-group {
    align-items: stretch;
  }
  .block-textonly {
    @include make-col(6); 
  }
  .block-content {
    @include make-col(6);
    //padding-top: 120px;
  }

  .block-image {
      align-self: stretch;
      height: inherit;

      & > img {
        // On fait un hack pour les vieux navigateurs
        // Les images dont la hauteur dépasse le texte seront moches
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        // Pour les navigateurs récents, on élimine les propriétés du hack
        /*
        @supports (object-fit: cover) {
          position: relative;
          top: 0;
          left: 0;
          transform: none;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        */
       
      }
  }
  .block-slogan {
    @include f1-md; 
    z-index: 2;
    text-transform: lowercase;

    &::after {
      content: "";
      display: block;
      height: 32px;
      position: absolute;
      width: calc(110% + 15px);
      background-color: #48EAAB;
      top: 36px;
      left: -15px;
      z-index: -1;
    }
  }

  // COMPORTEMENT DE CHAQUE BLOC: TEXT & IMAGE

  &#block1 {
    overflow-x: hidden;
    overflow-y: overlay;

    .block-image {
      @include make-col(12);
      position: relative;
      order: 2;
      //overflow: visible;

      /* & > img { 
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
      } */
    }
    .block-content {
      @include make-col(12);
    }
    .block-slogan {
      //top: 20px;
      //left: 0;
      &::after {
        content: "";
        width: calc(60%);
        top: 80px;
        left: 15px;
      }
    }
  }

  &#block2 {
    overflow-x: hidden;

    .block-image {
      @include make-col(6);
      position: relative;
    }
    .block-content {
      //@include make-col-offset(3);
      @include make-col(9);
      margin: 0 auto;
      padding-top: 0;
      padding-right: 0px;
    }
    .block-slogan {
      top: 20px;
      left: 0;
      &::after {
        content: "";
        width: calc(123%);
        top: 38px;
        left: -80px;
      }
    }
  }

  // BLOC CO-INNOVER
  &#block3 {
    padding-top: 4rem;
    overflow-x: hidden;
    .block-image {
      @include make-col(6);
      position: relative;

      & > img { 
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
      }
    }
    .block-content {
      @include make-col(6);
      padding-right: 40px;
    }
    .block-slogan {
      text-align: right;
      top: -50px;
      right: 30px;
      .line2 {
        display: block;
      }
      &::after {
        content: "";
        width: calc(139%);
        top: -15px;
        left: -158px;
      }
    }
  }

  // BLOC DIFFUSER

  &#block4 {
    padding-top: 0rem;
    overflow-x: hidden;

    .block-image {
      @include make-col(6);
      position: relative;
      order: 2;
      overflow: hidden;

      & > img { 
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
      }
    }
    .block-content {
      @include make-col(6);
      padding-right: 40px;
      padding-bottom: 2rem;
    }
    .block-slogan {
      top: 0px;
      left: 135px;
      &::after {
        content: "";
        width: calc(83%);
        top: 50px;
        left: 15px;
      }
    }
  }

  // BLOC LE COLLECTIF
  &#block5 {
/*     .block-image {
      @include make-col(6);
    } */
    .block-content {
      @include make-col(12);
      margin: 0 auto;
      padding-right: 40px;
      padding-top: 0px;
    }
    .block-column1 {
      @include make-col-ready ();
      @include make-col(6);  
    }
    .block-column2 {
      @include make-col-ready ();
      @include make-col(6);  
    }
    .block-slogan {
    margin-bottom: 1.5rem;
      .line1 {
        display: block;
        position: relative;
        top: 0px;
        left: 91px;
      }
      .line2 {
        display: block;
        position: relative;
        top: 15px;
        left: 46px;
      }
      &::after {
        content: "";
        width: 0;
      }
    }
    .block-textonly {
      padding-top: 1rem;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0rem;
      }
      &:nth-child(2n) {
        padding-left: 2rem;
      }
      &:nth-child(2n+1) {
        padding-right: 2rem;
      }
    }
  }


  // BLOC AGIR ENSEMBLE
  &#block6 {
    .block-content {
      @include make-col(12);
      padding-top: 0px;
    }
    .block-header {
      @include make-col-ready();
      @include make-col(9);
      margin: 0 auto;
    }
    .block-slogan {
      margin-bottom: 1.5rem;
      .line1 {
        display: block;
        position: relative;
        top: 0px;
        //left: -230px; if font 89px
      }
      .line2 {
        display: block;
        position: relative;
        top: 15px;
        left: 150px;
        //left: -160px; if font 89px
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: calc(100%);
        top: 50px;
      }
    }
    .block-button {
      padding: 0;
      margin: auto 0 !important;
    }
    .block-textonly {
      padding-top: 1rem;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0rem;
      }
      &:nth-child(2n) {
        padding-left: 2rem;
      }
      &:nth-child(2n+1) {
        padding-right: 2rem;
      }
    }
  }

  //BLOC PARTENAIRES
  &#block7 {
    padding-top: 0;
    .block-content {
      @include make-col(12);
      padding-top: 0px;
    }
    .company-logo {
      text-align: center;
      padding-left: 8px;
      padding-right: 8px;
    }
    .logo-item {
      @include make-col(2);
    }
    img {
      max-width: 100%;
    }
    /* .block-slogan {
      .line1 {
        display: block;
        position: relative;
        top: 0px;
        left: 50px;
        //left: -230px; if font 89px
      }
      .line2 {
        display: block;
        position: relative;
        top: 15px;
        left: 150px;
        //left: -160px; if font 89px
      } */
/*       &::after {
        content: "";
        width: 0; */
  }

}


.block-textonly {
  padding-top: 1rem;
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0rem;
  }
}
