.block {
  .block-group {
    align-items: stretch;
  }

  .block-content {
    // Invocation des mixins du système de grille
    @include make-col(6);

    padding-top: 120px;
  }

  .block-image {
      align-self: stretch;
      height: inherit;

      & > img {
        // On fait un hack pour les vieux navigateurs
        // Les images dont la hauteur dépasse le texte seront moches
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        // Pour les navigateurs récents, on élimine les propriétés du hack
        /*
        @supports (object-fit: cover) {
          position: relative;
          top: 0;
          left: 0;
          transform: none;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        */
       
      }
  }

  .block-slogan {
    @include f1-xs; // pas clair :-p

    position: absolute;
    top: -90px;
    z-index: 2;
    text-transform: lowercase;

    &::after {
      content: "";
      display: block;
      height: 53px;
      position: absolute;
      width: calc(110% + 15px);
      background-color: #48EAAB;
      top: 36px;
      left: -15px;
      z-index: -1;
    }
  }

  // IMAGES

  &#block1 {
    overflow-x: hidden;

    .block-image {
      @include make-col(4);
      position: relative;
      order: 2;
      overflow: visible;

      & > img { 
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
      }
    }
    .block-content {
      @include make-col(8);
      padding-right: 40px;
    }
    .block-slogan {
      top: -44px;
      left: -160px;
    }
  }


  &#block2 {
    .block-content {
      padding-top: 0px;
    }
  }

  &#block3 {
    .block-content {
      padding-top: 280px;
    }
    .block-slogan {
      text-align: right;
      top: -48px;
      left: 169px;
      &::after {
        content: "";
        display: block;
        height: 36px;
        position: absolute;
        width: calc(240%);
        background-color: #48EAAB;
        top: 36px;
        left: -300px;
        z-index: -1;
      }
    }
  }


  &#block5 {
    .block-content {
      padding-top: 280px;
    }
  }
  .block-slogan {
    text-align: right;
    top: 0px;
    left: 169px;
    &::after {
      content: "";
      display: block;
      height: 36px;
      position: absolute;
      width: calc(240%);
      background-color: #48EAAB;
      top: 36px;
      left: -300px;
      z-index: -1;
    }
  }
}
