.contact {
  padding-left: 2rem;
  padding-right: 2rem;
  .contact-informations {
  @include make-col(12);
    .contact-text {
      @include f6-md ();
    }
  }
  .contact-form {
  @include make-col(12);
  max-width: 580px;
  padding-top: 1rem;
  }
  .contact-meetus {
    @include make-col-ready();
    @include make-col(10);
  }
  .contact-titre {
    @include f4-md ();
  }
}
