.footer {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  .footer-left {
    @include make-col(8);
    margin-bottom: 1rem;
  } 
  .footer-right {
    text-align: left;
    @include make-col(4);
  }
  .social-list a {
    @include f4-md();
    line-height: 1.3;
  }
}