#hero {
  @include make-row();
  .hero-header {
    @include make-container;
  }
  .hero-bottom {
    @include make-container;
  }
  .hero-title {
    @include make-col(9);
    margin: 0 auto;
    @include f3-md;
    overflow: hidden;
  }
  .hero-text {
    @include make-col(9);
    @include f6-md;
    padding-top: 2rem;
    margin: 0 auto;
  }
}