// TYPOGRAPHY

@mixin f1-md()
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 89px;
  font-weight: 700;
  line-height: 1;
}

@mixin f2-md()
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 67px;
  font-weight: 700;
  line-height: 1;
}

@mixin f3-md()
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
}

@mixin f4-md()
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 37px;
  font-weight: 700;
  line-height: 1;
}

@mixin f5-md()
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
}

@mixin f6-md()
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
}