.navbar {
  padding: 0.5rem 2rem;
  .link-menu {
    @include f4-xs();
    padding: 0;
    padding-left: 1.5rem;
  }
}


.right-links {
  position: absolute;
  right: 32px;
  top: 8px;
  a {
    @include f6-md();
    color: black;
    font-size: 23px;
  }
  
}