@font-face{
    font-family : "ExcelsiorInsertioLT";

    src : url('../assets/fonts/ExcelsiorInsertioLT.eot'); /* IE9 Compat Modes */
    src : local('☺'),
          url('../assets/fonts/ExcelsiorInsertioLT.woff2') format('woff2'),
          url('../assets/fonts/ExcelsiorInsertioLT.woff') format('woff'),
          url('../assets/fonts/ExcelsiorInsertioLT.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}
